@import 'files/fonts'
@import 'files/interface'
@import 'files/variables'

@import 'templates/header'
@import 'templates/hero'
@import 'templates/contacts'
@import 'templates/footer'

.discounts
  &__hero
    background: url('../img/discounts-bg.png') no-repeat center / cover
  &__card
    color: #1d1d1d
    background-color: #f7f7f7
    display: flex
    position: relative
    flex-wrap: wrap
    margin-bottom: 32px
    &::after
      content: ''
      position: absolute
      overflow: hidden
      top: 0
      right: -16px
      width: 32px
      height: 100%
      background: url('../img/card-decoration.svg') no-repeat
    &-block
      width: 246px
      padding-top: 46px
      padding-bottom: 45px
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 32px
        height: 100%
        background: url('../img/card-decoration.svg') repeat-y
    &-label
      font-size: 1.285rem
      font-weight: 500
      max-width: 66px
      text-align: center
      margin-bottom: 18px
    &-percentage
      font-size: 2.57rem
    &-title
      font-size: 2.28rem
    &-subtitle, &-text
      color: #cacaca
      font-size: 1.142rem
      font-weight: 300
      margin-bottom: 14px
    &-text
      color: #1d1d1d
    &-button
      padding: 19.5px 44px
      width: fit-content

@import 'media/media'
@import 'media/discounts-media'
