@import 'files/fonts'
@import 'files/interface'
@import 'files/variables'

@import 'templates/header'
@import 'templates/contacts'
@import 'templates/footer'

.production
  &__hero
    background: url('../img/production/hero-bg.png') no-repeat center / cover
  &__card
    /* Style for "Прямоуголь" */
    width: 365px
    height: 106px
    background-color: #f5f4f0
    // background-color: red
    display: flex
    // flex-wrap: wrap
    // justify-content: center
    // text-align: center
    align-items: center
    margin-bottom: 37px
    transition: box-shadow 0.2s ease-in-out
    // position: relative
    &-img
      width: 106px
      display: flex
      justify-content: center
    &-name
      margin-left: 36px
      font-size: 1.142rem
      color: #121212
    &:hover
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.15)

@import 'media/media'
